*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:rgba(176, 231, 226, 0.527);
}

/* left main div start */
#lmd{
    border: 1px ;
    border-radius: 5px;
    width: 300px;
    height: 800px;
    background-color: rgba(141, 15, 15, 0.527);
    box-shadow: 5px 5px 40px  rgb(141, 15, 15);
    display: inline-block;
    margin: 5px 30px;
}
#imgd{
    
    width: 250px;
    height: 250px;
    margin:10px 22px ;
    border-radius: 125px;
}
#imgd>img{
    
    width: 250px;
    height: 250px;
    border-radius: 125px;
}
button{
    background-color: rgba(185, 137, 137, 0.527);
    width: 300px;
    height: 80px;
    margin-top: 5px;
    color: cornsilk;
    font-weight: normal;
}


/* right main div start */
#rmd{
    
    width: 900px;
    height: 800px;
    
    display: inline-block;
    margin: 5px 30px;
    
}




#about{
    padding-top: 10px;
    width: 800px;
    height: 150px;
    text-align: center;
    color: ;
    margin: 10px 40px;
} 




#htm{
    
    width: 800px;
    height: 225px;
   
    margin: 20px 40px;
}

#html{
   
    width: 350px;
    height: 200px;
  
    display: inline-block;
    margin: 5px 20px ;
}
#htmr{
    
    width: 350px;
    height: 200px;
    
    display: inline-block;
    margin: 5px 20px ;
}







#css{
    
    width: 800px;
    height: 225px;
    
    margin: 20px 40px;
}
#cssl{
    
    width: 350px;
    height: 200px;
    
    display: inline-block;
    margin: 5px 20px ;
}
#cssr{
    
    width: 350px;
    height: 200px;
    
    display: inline-block;
    margin: 5px 20px ;
}
.im{
   
    width: 300px;
    height: 200px;
    border: 1px;
    border-radius: 5px;
}